<launch>
<!-- 	
	<node ns="rm" name="speech_node"	pkg="rm_speech" type="rm_speech_node" output="screen"/>
	<node ns="rm" name="mpu6050_node"	pkg="mpu6050"	type="mpu6050_node" output="screen"/>  
 
-->
	<node ns="rm" name="rm_robot_node"	pkg="rm_robot"	type="rm_robot_node" output="screen"/>  
	<!-- 
		<remap from="/imu" to="/imu/data"/>
 			
	-->
</launch>
